In [120]:
import pandas as pd

In [121]:
df = pd.read_csv('D:\Project\ds_salary_prediction\Dataset\glassdoor_jobs.csv')
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

**Salary Column**

In [122]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

df = df[df['Salary Estimate'] != '-1']
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('K','000').replace('$',''))
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

df['average_salary'] = df['Salary Estimate'].apply(lambda x: (int(x.split('-')[0]) + int(x.split('-')[1]))/2)
df['average_salary']

<ipython-input-122-1a850623a632>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
<ipython-input-122-1a850623a632>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('K','000').replace('$',''))
<ipython-input-122-1a850623a632>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))
<ipython-input-122-1a850623a632>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_salary'] = df['Salary Estimate'].apply(lambda x: (int(x.split('-')[0]) + int(x.split('-')[1]))/2)

0       72000.0
1       87500.0
2       85000.0
3       76500.0
4      114500.0
         ...
950     84500.0
951    102500.0
952     73500.0
953    127500.0
955     93500.0
Name: average_salary, Length: 742, dtype: float64

In [123]:
df.reset_index()

,index,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,average_salary
0,0,0,Data Scientist,53000-91000,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,72000.0
1,1,1,Healthcare Data Scientist,63000-112000,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,87500.0
2,2,2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,85000.0
3,3,3,Data Scientist,56000-97000,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,76500.0
4,4,4,Data Scientist,86000-143000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,114500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,950,950,"Sr Scientist, Immuno-Oncology - Oncology",58000-111000,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,84500.0
738,951,951,Senior Data Engineer,72000-133000,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,102500.0
739,952,952,"Project Scientist - Auton Lab, Robotics Institute",56000-91000,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,73500.0
740,953,953,Data Science Manager,95000-160000,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,127500.0
741,955,955,Research Scientist – Security and Privacy,61000-126000,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,93500.0

**Company NAme**

In [124]:
df['Company Name'] = df['Company Name'].apply(lambda x: x.split('\n')[0])
df.head()

<ipython-input-124-cc65d91a53c1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company Name'] = df['Company Name'].apply(lambda x: x.split('\n')[0])

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,average_salary
0,0,Data Scientist,53000-91000,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,72000.0
1,1,Healthcare Data Scientist,63000-112000,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,87500.0
2,2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,85000.0
3,3,Data Scientist,56000-97000,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,76500.0
4,4,Data Scientist,86000-143000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,114500.0

**State**

In [125]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df.job_state.value_counts()
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)
df['same_state']

<ipython-input-125-46adfb8d0e2a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
<ipython-input-125-46adfb8d0e2a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

0      0
1      0
2      1
3      1
4      1
      ..
950    0
951    0
952    1
953    0
955    0
Name: same_state, Length: 742, dtype: int64

**No. of years of company**

In [126]:
df['company_age'] = df.Founded.apply(lambda x: x if x <1 else 2021 - x)
df['company_age']

<ipython-input-126-5225df1e9856>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company_age'] = df.Founded.apply(lambda x: x if x <1 else 2021 - x)

0       48
1       37
2       11
3       56
4       23
      ...
950    191
951     15
952     37
953     -1
955     54
Name: company_age, Length: 742, dtype: int64

**Size**

In [127]:
df['Size'] = df['Size'].apply(lambda x: (x.split('e')[0]).strip())
df['Size']

<ipython-input-127-9bd11888e1d0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Size'] = df['Size'].apply(lambda x: (x.split('e')[0]).strip())

0       501 to 1000
1            10000+
2       501 to 1000
3      1001 to 5000
4         51 to 200
           ...
950          10000+
951    1001 to 5000
952     501 to 1000
953         1 to 50
955     501 to 1000
Name: Size, Length: 742, dtype: object

**Type of ownership**

In [128]:
df['Type of ownership'].unique()
## no need of any cleaning

array(['Company - Private', 'Other Organization', 'Government',
       'Company - Public', 'Hospital', 'Subsidiary or Business Segment',
       'Nonprofit Organization', 'Unknown', 'College / University',
       'School / School District', '-1'], dtype=object)

**desc_len**

In [129]:
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))
df['desc_len']

<ipython-input-129-cb8e2d0f2e39>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['desc_len'] = df['Job Description'].apply(lambda x: len(x))

0      2536
1      4783
2      3461
3      3883
4      2728
       ...
950    6162
951    6130
952    3078
953    1642
955    3673
Name: desc_len, Length: 742, dtype: int64

**Competitor**

In [130]:
df['Competitors']
df['count_Competitors'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)
df['count_Competitors']

<ipython-input-130-ea48c2066155>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['count_Competitors'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)

0      0
1      0
2      0
3      3
4      3
      ..
950    3
951    3
952    0
953    0
955    0
Name: count_Competitors, Length: 742, dtype: int64

**Title**

In [131]:
df['Job Title'].unique()

array(['Data Scientist', 'Healthcare Data Scientist',
       'Research Scientist', 'Staff Data Scientist - Technology',
       'Data Analyst', 'Data Engineer I', 'Scientist I/II, Biology',
       'Customer Data Scientist',
       'Data Scientist - Health Data Analytics',
       'Senior Data Scientist / Machine Learning',
       'Data Scientist - Quantitative', 'Digital Health Data Scientist',
       'Associate Data Analyst', 'Clinical Data Scientist',
       'Data Scientist / Machine Learning Expert', 'Web Data Analyst',
       'Senior Data Scientist', 'Data Engineer',
       'Data Scientist - Algorithms & Inference', 'Scientist',
       'Lead Data Scientist', 'Spectral Scientist/Engineer',
       'College Hire - Data Scientist - Open to December 2019 Graduates',
       'Data Scientist, Office of Data Science', 'Data Science Analyst',
       'Senior Risk Data Scientist',
       'Data Scientist in Artificial Intelligence Early Career',
       'Data Scientist - Research', 'R&D Data Analysis Scientist',
       'Analytics Consultant', 'Director, Data Science',
       'Data Scientist SR', 'R&D Sr Data Scientist',
       'Customer Data Scientist/Sales Engineer (Bay',
       'Jr. Business Data Analyst', 'Data Management Specialist',
       'E-Commerce Data Analyst', 'Sr. Scientist II',
       'Insurance Data Scientist', 'Data Modeler',
       'Data Analyst / Scientist', 'Data Scientist, Rice University',
       'Financial Data Analyst', 'Senior Data Analyst',
       'Ag Data Scientist', 'Data Scientist II', 'Senior Data Engineer',
       'Project Scientist', 'Data Analytics Manager',
       'Senior Machine Learning (ML) Engineer / Data Scientist - Cyber Security Analytics',
       'Associate Scientist', 'Scientist 2, QC Viral Vector',
       'Machine Learning Engineer', 'Data Scientist/ML Engineer',
       'Sr. Data Scientist', 'Data Engineer 4 - Contract',
       'Data Analyst - Asset Management',
       'Senior Research Scientist - Embedded System Development for DevOps',
       'Data Scientist - Bioinformatics',
       'Customer Data Scientist/Sales Engineer',
       'MongoDB Data Engineer II', 'Senior Data Scientist Statistics',
       'Senior Spark Engineer (Data Science)',
       'BI & Platform Analytics Manager',
       'Sr. Data Scientist - Analytics, Personalized Healthcare (PHC)',
       'Pricipal Scientist Molecular and cellular biologist',
       'Data Scientist (Actuary, FSA or ASA)', 'Staff Data Scientist',
       'Data Engineer 5 - Contract (Remote)',
       'Senior Scientist - Neuroscience', 'Medical Lab Scientist',
       'Risk and Analytics IT, Data Scientist',
       'Scientist, Analytical Development', 'Analytics Manager',
       'Digital Marketing & ECommerce Data Analyst',
       'Sr. Scientist - Digital & Image Analysis/Computational Pathology',
       'Principal Scientist - Immunologist',
       'Principal Data Scientist with over 10 years experience',
       'MED TECH/LAB SCIENTIST - LABORATORY',
       'Sr. Scientist, Quantitative Translational Sciences',
       'Sr. Data Scientist II', 'Excel / VBA / SQL Data Analyst',
       'Machine Learning Research Scientist', 'VP, Data Science',
       'Radar Data Analyst', 'PL Actuarial-Lead Data Scientist',
       'PV Scientist', 'Senior Data & Machine Learning Scientist',
       'Principal Data Scientist (Computational Chemistry)',
       'Principal Scientist, Chemistry & Immunology',
       'Software Engineer - Data Visualization',
       'Scientist/Senior Scientist, Autoimmune',
       'Staff Machine Learning Engineer',
       'Principal Scientist, Hematology', 'Lead Data Engineer',
       'Marketing Data Analyst', 'Medical Laboratory Scientist',
       'R&D Specialist/ Food Scientist',
       'Senior Research Scientist-Machine Learning',
       'Analytics Manager - Data Mart',
       'Sr. Data Engineer - Contract-to-Hire (Java)',
       'MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB',
       'Food Scientist - Developer',
       'Staff Scientist-Downstream Process Development',
       'Sr. Data Engineer',
       'Senior Research Statistician- Data Scientist',
       'Business Data Analyst, SQL',
       'Medical Technologist / Clinical Laboratory Scientist',
       'Associate Data Scientist/Computer Scientist',
       'Business Intelligence Analyst / Developer',
       'System and Data Analyst', 'Data & Analytics Consultant (NYC)',
       'Big Data Engineer - Chicago - Future Opportunity',
       'Survey Data Analyst', 'Lead Health Data Analyst - Front End',
       'Junior Data Analyst', 'SQL Data Engineer',
       'Sr. Data Scientist, Cyber-Security LT Contract',
       'Insurance Financial Data Analyst', 'Data Engineer I - Azure',
       'Information Security Data Analyst', 'Data Scientist, Senior',
       'CONSULTANT– DATA ANALYTICS GROUP',
       'Data Engineer, Data Engineering and Artifical Intelligence',
       'Staff Scientist',
       'Associate Scientist/Scientist, Process Analytical Technology - Small Molecule Analytical Chemistry',
       'Sr. Data Analyst', 'Program/Data Analyst',
       'Senior Data Scientist: Causal & Predictive analytics AI Innovation Lab',
       'Principal Data Engineer, Data Platform & Insights',
       'RESEARCH SCIENTIST - BIOLOGICAL SAFETY', 'Data Operations Lead',
       'Big Data Engineer', 'Clinical Data Analyst',
       'Computational Chemist/Data Scientist',
       'Product Engineer – Data Science', 'Market Data Analyst',
       'Staff Data Engineer', 'Associate Data Engineer',
       'Staff BI and Data Engineer',
       'Director - Data, Privacy and AI Governance',
       'Scientist Manufacturing - Kentucky BioProcessing',
       'Data Analytics Project Manager',
       'Consultant - Analytics Consulting',
       'Senior Scientist (Neuroscience)',
       'Machine Learning Engineer - Regulatory',
       'Scientist, Bacteriology',
       'Associate Director, Platform and DevOps- Data Engineering and Aritifical Intelligence',
       'Clinical Laboratory Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Director II, Data Science - GRM Actuarial',
       'Scientist, Molecular/Cellular Biologist',
       'Scientist - Analytical Services',
       'Associate Data Analyst- Graduate Development Program',
       'Senior Insurance Data Scientist',
       'Senior Data Science Systems Engineer',
       'ENVIRONMENTAL ENGINEER/SCIENTIST',
       'Senior Scientist - Regulatory Submissions',
       'Scientist - Biomarker and Flow Cytometry',
       'Revenue Analytics Manager',
       'Associate Scientist, LC/MS Biologics',
       'Sr. Scientist Method Development', 'IT - Data Engineer II',
       'Research Scientist, Immunology - Cancer Biology',
       'Project Scientist - Auton Lab, Robotics Institute',
       'Enterprise Architect, Data',
       'Senior Manager, Epidemiologic Data Scientist',
       'Corporate Risk Data Analyst (SQL Based) - Milwaukee or',
       'Marketing Data Analyst, May 2020 Undergrad',
       'Data Modeler - Data Solutions Engineer',
       'Associate Environmental Scientist - Wildlife Biologist',
       'Associate, Data Science, Internal Audit',
       'Sr Data Engineer (Sr BI Developer)',
       'Senior LiDAR Data Scientist', 'Salesforce Analytics Consultant',
       'Technology-Minded, Data Professional Opportunities',
       'Managing Data Scientist/ML Engineer',
       'Scientist, Pharmacometrics', 'Staff Scientist- Upstream PD',
       'Scientist Manufacturing Pharma - Kentucky BioProcessing',
       'Lead Big Data Engineer',
       'Product Engineer – Spatial Data Science and Statistical Analysis',
       'Sr Software Engineer (Data Scientist)',
       'Sr. Data Engineer (ETL Developer)',
       'Senior Data Scientist Artificial Intelligence',
       'Analytics - Business Assurance Data Analyst',
       'Associate Director/Director, Safety Scientist',
       'Senior Scientist, Cell Pharmacology/Assay Development',
       'Data Analyst Senior', 'Lead Data Engineer (Python)',
       'Senior Data Scientist 4 Artificial Intelligence',
       'Medical Lab Scientist - MLT',
       'Senior Operations Data Analyst, Call Center Operations',
       'Director II, Data Science - GRS Predictive Analytics',
       'RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT',
       'Geospatial Software Developer and Data Scientist',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Systems Engineer II - Data Analyst',
       'Senior Research Analytical Scientist-Non-Targeted Analysis',
       'Director Data Science', 'Sr Data Analyst - IT',
       'Associate Machine Learning Engineer / Data Scientist May 2020 Undergrad',
       'Senior Scientist - Biostatistician',
       'Principal Machine Learning Scientist',
       'Data Analyst, Performance Partnership', 'Data Scientist Manager',
       'Software Data Engineer - College',
       'Senior Data Scientist - Algorithms',
       'Senior Data Scientist Oncology', 'Principal Data Scientist',
       'Data Scientist - Alpha Insights',
       'Associate Principal Scientist, Pharmacogenomics',
       'Data Scientist - Systems Engineering',
       'Data Engineer - Consultant (Charlotte Based)',
       'Data Analyst 1, full-time contract worker for up to 12 months',
       'Scientist, Immuno-Oncology', 'Products Data Analyst II',
       'Lead Data Analyst', 'Data Science Engineer - Mobile',
       'Sr Expert Data Science, Advanced Visual Analytics (Associate level)',
       'IT Associate Data Analyst', 'Business Data Analyst',
       'Data Scientist - Sales',
       'Principal, Data Science - Advanced Analytics',
       'Data Science Project Manager',
       'Sr Scientist, Immuno-Oncology - Oncology',
       'Research Scientist – Security and Privacy',
       'Data Science Manager', 'Data Analyst 2 (Missionary Department)',
       'Supply Chain Data Analyst', 'Data Engineer - ETL',
       'Data Modeler (Analytical Systems)',
       'Data Scientist in Translational Medicine',
       'Product Manager/Data Evangelist',
       'Senior Data Scientist – Visualization, Novartis AI Innovation Lab',
       'Senior Data Analyst/Scientist',
       'Scientist – Cancer Discovery, Molecular Assay',
       'Data Engineering Analyst', 'Manager of Data Science',
       'Software Engineer (Data Scientist/Software Engineer) - SISW - MG',
       'Associate Research Scientist I (Protein Expression and Production)',
       'Director, Precision Medicine Clinical Biomarker Scientist',
       'Senior Formulations Scientist II', 'Senior Quantitative Analyst',
       'Research Scientist or Senior Research Scientist - Computer Vision',
       'Data Analyst Chemist - Quality System Contractor',
       'Research Scientist / Principal Research Scientist - Multiphysical Systems',
       'Research Scientist, Machine Learning Department',
       'Foundational Community Supports Data Analyst',
       'Senior Health Data Analyst, Star Ratings',
       'Principal Research Scientist/Team Lead, Medicinal Chemistry - Oncology',
       'Senior Engineer, Data Management Engineering',
       'Quality Control Scientist III- Analytical Development',
       'Clinical Scientist, Clinical Development',
       'Software Engineer Staff Scientist: Human Language Technologies',
       'Manager, Safety Scientist, Medical Safety & Risk Management',
       'Assistant Director/Director, Office of Data Science',
       'Sr. Data Engineer | Big Data SaaS Pipeline',
       'Scientist - CVRM Metabolism - in vivo pharmacology',
       'Data Scientist (Warehouse Automation)', 'Jr. Data Scientist',
       'Data Architect / Data Modeler',
       'Associate Scientist / Sr. Associate Scientist, Antibody Discovery',
       'Machine Learning Engineer (NLP)'], dtype=object)

In [132]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'vp' in title.lower():
        return 'vp'
    elif 'engineer' in title.lower():
        return 'data engineer'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'analyst' in title.lower():
        return 'data analyst'
    elif 'scientist' in title.lower():
        return 'senior/associate scientist'
    elif 'data modeler' in title.lower():
        return 'data modeler'
    elif 'analytics' in title.lower():
        return 'Analytics Consultant'
    else:
        return 'NA'
df['Job Simple'] = df['Job Title'].apply(title_simplifier)
df

<ipython-input-132-ec1f9397b205>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job Simple'] = df['Job Title'].apply(title_simplifier)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,hourly,employer_provided,average_salary,job_state,same_state,company_age,desc_len,count_Competitors,Job Simple
0,0,Data Scientist,53000-91000,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000,1973,...,-1,0,0,72000.0,NM,0,48,2536,0,data scientist
1,1,Healthcare Data Scientist,63000-112000,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+,1984,...,-1,0,0,87500.0,MD,0,37,4783,0,data scientist
2,2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000,2010,...,-1,0,0,85000.0,FL,1,11,3461,0,data scientist
3,3,Data Scientist,56000-97000,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000,1965,...,"Oak Ridge National Laboratory, National Renewa...",0,0,76500.0,WA,1,56,3883,3,data scientist
4,4,Data Scientist,86000-143000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200,1998,...,"Commerce Signals, Cardlytics, Yodlee",0,0,114500.0,NY,1,23,2728,3,data scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",58000-111000,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",10000+,1830,...,"Pfizer, AstraZeneca, Merck",0,0,84500.0,MA,0,191,6162,3,senior/associate scientist
951,951,Senior Data Engineer,72000-133000,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite,"Nashville, TN","San Francisco, CA",1001 to 5000,2006,...,"See Tickets, TicketWeb, Vendini",0,0,102500.0,TN,0,15,6130,3,data engineer
952,952,"Project Scientist - Auton Lab, Robotics Institute",56000-91000,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000,1984,...,-1,0,0,73500.0,PA,1,37,3078,0,senior/associate scientist
953,953,Data Science Manager,95000-160000,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC","Allentown, PA","Chadds Ford, PA",1 to 50,-1,...,-1,0,0,127500.0,PA,0,-1,1642,0,manager
955,955,Research Scientist – Security and Privacy,61000-126000,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",501 to 1000,1967,...,-1,0,0,93500.0,OH,0,54,3673,0,senior/associate scientist

In [133]:
df.drop('Unnamed: 0',axis=1,inplace=True)

C:\Users\ADMIN\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [134]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Competitors,hourly,employer_provided,average_salary,job_state,same_state,company_age,desc_len,count_Competitors,Job Simple
0,Data Scientist,53000-91000,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000,1973,Company - Private,...,-1,0,0,72000.0,NM,0,48,2536,0,data scientist
1,Healthcare Data Scientist,63000-112000,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,...,-1,0,0,87500.0,MD,0,37,4783,0,data scientist
2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000,2010,Company - Private,...,-1,0,0,85000.0,FL,1,11,3461,0,data scientist
3,Data Scientist,56000-97000,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000,1965,Government,...,"Oak Ridge National Laboratory, National Renewa...",0,0,76500.0,WA,1,56,3883,3,data scientist
4,Data Scientist,86000-143000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200,1998,Company - Private,...,"Commerce Signals, Cardlytics, Yodlee",0,0,114500.0,NY,1,23,2728,3,data scientist

In [135]:
df['Job Description'][1]

'What You Will Do:\n\nI. General Summary\n\nThe Healthcare Data Scientist position will join our Advanced Analytics group at the University of Maryland Medical System (UMMS) in support of its strategic priority to become a data-driven and outcomes-oriented organization. The successful candidate will have 3+ years of experience with Machine Learning, Predictive Modeling, Statistical Analysis, Mathematical Optimization, Algorithm Development and a passion for working with healthcare data. Previous experience with various computational approaches along with an ability to demonstrate a portfolio of relevant prior projects is essential. This position will report to the UMMS Vice President for Enterprise Data and Analytics (ED&A).\n\nII. Principal Responsibilities and Tasks\n\n• Develops predictive and prescriptive analytic models in support of the organization’s clinical, operations and business initiatives and priorities.\n• Deploys solutions so that they provide actionable insights to the organization and are embedded or integrated with application systems\n• Supports and drives analytic efforts designed around organization’s strategic priorities and clinical/business problems\n• Works in a team to drive disruptive innovation, which may translate into improved quality of care, clinical outcomes, reduced costs, temporal efficiencies and process improvements.\n• Builds and extends our analytics portfolio supported by robust documentation\n• Works with autonomy to find solutions to complex problems using open source tools and in-house development\n• Stays abreast of state-of-the-art literature in the fields of operations research, statistical modeling, statistical process control and mathematical optimization\n• Creates, communicates, and manages the project plans and other required project documentation and provides updates to leadership as necessary\n• Develops and maintains relationships with business, IT and clinical leaders and stakeholders across the enterprise to facilitate collaboration and effective communication\n• Works with the analytics team and clinical/business stakeholders to develop pilots so that they may be tested and validated in pilot settings\n• Performs analysis to evaluate primary and secondary objectives from such pilots\n• Assists leadership with strategies for scaling successful projects across the organization and enhances the analytics applications based on feedback from end-users and clinical/business consumers\n• Assists leadership with dissemination of success stories (and failures) in an effort to increase analytics literacy and adoption across the organization.\n\nWhat You Need to Be Successful:\n\nIII. Education and Experience\n\n• Master’s or higher degree (may be substituted by relevant work experience) in applied mathematics, physics, computer science, engineering, statistics or a related field\n• 3+ years of Mathematical Optimization, Machine Learning, Predictive Analytics and Algorithm Development experience (experience with tools such as WEKA, RapidMiner, R. Python or other open source tools strongly desired)\n• Strong development skills in two or more of the following: C/C++, C#, Python, Java\n• Combining analytic methods with advanced data visualizations\n• Expert ability to breakdown and clearly define problems\n• Experience with Natural Language Processing preferred\n\nIV. Knowledge, Skills and Abilities\n\n• Proven communications skills – Effective at working independently and in collaboration with other staff members. Capable of clearly presenting findings orally, in writing, or through graphics.\n• Proven analytical skills – Able to compare, contrast, and validate work with keen attention to detail. Skilled in working with “real world” data including scrubbing, transformation, and imputation.\n• Proven problem solving skills – Able to plan work, set clear direction, and coordinate own tasks in a fast-paced multidisciplinary environment. Expert at triaging issues, identifying data anomalies, and debugging software.\n• Design and prototype new application functionality for our products.\n• Change oriented – actively generates process improvements; supports and drives change, and confronts difficult circumstances in creative ways\n• Effective communicator and change agent\n• Ability to prioritize the tasks of the project timeline to achieve the desired results\n• Strong analytic and problem solving skills\n• Ability to cooperatively and effectively work with people from various organization levels\n\nWe are an Equal Opportunity Employer and do not discriminate against any employee or applicant for employment because of race, color, sex, age, national origin, religion, sexual orientation, gender identity, status as a veteran, and basis of disability or any other federal, state or local protected class.'

In [136]:
#parsing of job description (python, etc.)

#python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
 
#r studio 
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

<ipython-input-136-8c8b53920f40>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
<ipython-input-136-8c8b53920f40>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
<ipython-input-136-8c8b53920f40>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
<ipython-input-136-8c8b53920f40>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
<ipython-input-136-8c8b53920f40>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

1    388
0    354
Name: excel, dtype: int64

**Revenue**

In [137]:
df['Revenue'].unique()

array(['$50 to $100 million (USD)', '$2 to $5 billion (USD)',
       '$100 to $500 million (USD)', '$500 million to $1 billion (USD)',
       'Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$25 to $50 million (USD)', '$10+ billion (USD)',
       '$1 to $5 million (USD)', '$10 to $25 million (USD)',
       '$5 to $10 billion (USD)', 'Less than $1 million (USD)',
       '$5 to $10 million (USD)', '-1'], dtype=object)

In [138]:
def revenu_simpler(revenue):
    if 'Less than $1 million (USD)' in revenue:
        return '$0-$1M'
    elif '$1 to $5 million (USD)' in revenue:
        return '$1M-$5M'
    elif '$5 to $10 million (USD)' in revenue:
        return '$5M-$10M'
    elif '$10 to $25 million (USD)' in revenue:
        return '$10M-$25M'
    elif '$25 to $50 million (USD)' in revenue:
        return '$25M-$50M'
    elif '$50 to $100 million (USD)' in revenue:
        return '$50M-$100M'
    elif '$100 to $500 million (USD)' in revenue:
        return '$100M-$500M'
    elif '$500 million to $1 billion (USD)' in revenue:
        return '$500M-$1B'
    elif '$1 to $2 billion (USD)' in revenue:
        return '$1B-$2B'
    elif '$2 to $5 billion (USD)' in revenue:
        return '$2B-$5B'
    elif '$5 to $10 billion (USD)' in revenue:
        return '$5B-$10B'
    elif '$10+ billion (USD)' in revenue:
        return '$10+B'
    else:
        return 'NA'
df['revenue_simpler'] = df['Revenue'].apply(revenu_simpler)
# df[['revenue_simpler','Revenue']]

<ipython-input-138-58f06089b3e5>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['revenue_simpler'] = df['Revenue'].apply(revenu_simpler)

In [139]:
df['revenue_simpler'].unique()

array(['$50M-$100M', '$2B-$5B', '$100M-$500M', '$500M-$1B', 'NA',
       '$1B-$2B', '$25M-$50M', '$10+B', '$1M-$5M', '$10M-$25M',
       '$5B-$10B', '$0-$1M', '$5M-$10M'], dtype=object)

**Sector**

In [140]:
df['Sector'].unique()

array(['Aerospace & Defense', 'Health Care', 'Business Services',
       'Oil, Gas, Energy & Utilities', 'Real Estate', 'Finance',
       'Information Technology', 'Retail', 'Biotech & Pharmaceuticals',
       'Media', 'Insurance', 'Transportation & Logistics',
       'Telecommunications', '-1', 'Manufacturing', 'Mining & Metals',
       'Government', 'Education', 'Agriculture & Forestry',
       'Travel & Tourism', 'Non-Profit',
       'Arts, Entertainment & Recreation',
       'Construction, Repair & Maintenance', 'Accounting & Legal',
       'Consumer Services'], dtype=object)

**Industry**

In [142]:
df['Industry'].unique()

array(['Aerospace & Defense', 'Health Care Services & Hospitals',
       'Security Services', 'Energy', 'Advertising & Marketing',
       'Real Estate', 'Banks & Credit Unions', 'Consulting', 'Internet',
       'Other Retail Stores', 'Research & Development',
       'Department, Clothing, & Shoe Stores', 'Biotech & Pharmaceuticals',
       'Motion Picture Production & Distribution',
       'Enterprise Software & Network Solutions', 'Insurance Carriers',
       'Insurance Agencies & Brokerages', 'Logistics & Supply Chain',
       'Telecommunications Services', 'IT Services',
       'Computer Hardware & Software', '-1',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Metals Brokers', 'Financial Transaction Processing',
       'Sporting Goods Stores', 'Staffing & Outsourcing', 'Wholesale',
       'Mining', 'Financial Analytics & Research', 'Federal Agencies',
       'Education Training Services',
       'Transportation Equipment Manufacturing', 'Farm Support Services',
       'TV Broadcast & Cable Networks',
       'Architectural & Engineering Services', 'Brokerage Services',
       'Travel Agencies', 'Religious Organizations',
       'Colleges & Universities', 'Investment Banking & Asset Management',
       'Lending', 'Gambling', 'Food & Beverage Manufacturing',
       'Gas Stations', 'Transportation Management', 'Video Games',
       'Trucking', 'Social Assistance', 'Auctions & Galleries',
       'K-12 Education', 'Telecommunications Manufacturing',
       'Stock Exchanges', 'Construction', 'Accounting',
       'Health Care Products Manufacturing', 'Health, Beauty, & Fitness',
       'Consumer Product Rental', 'Beauty & Personal Accessories Stores'],
      dtype=object)

In [143]:
df['Size'].unique()
df['Size'].apply(lambda x: 'NA' if ('Uncknown' or '-1') in x else x)
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,company_age,desc_len,count_Competitors,Job Simple,python_yn,R_yn,spark,aws,excel,revenue_simpler
0,Data Scientist,53000-91000,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000,1973,Company - Private,...,48,2536,0,data scientist,1,0,0,0,1,$50M-$100M
1,Healthcare Data Scientist,63000-112000,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,...,37,4783,0,data scientist,1,0,0,0,0,$2B-$5B
2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000,2010,Company - Private,...,11,3461,0,data scientist,1,0,1,0,1,$100M-$500M
3,Data Scientist,56000-97000,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000,1965,Government,...,56,3883,3,data scientist,1,0,0,0,0,$500M-$1B
4,Data Scientist,86000-143000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200,1998,Company - Private,...,23,2728,3,data scientist,1,0,0,0,1,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",58000-111000,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",10000+,1830,Company - Public,...,191,6162,3,senior/associate scientist,0,0,0,1,0,$10+B
951,Senior Data Engineer,72000-133000,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite,"Nashville, TN","San Francisco, CA",1001 to 5000,2006,Company - Public,...,15,6130,3,data engineer,1,0,1,1,0,$100M-$500M
952,"Project Scientist - Auton Lab, Robotics Institute",56000-91000,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000,1984,College / University,...,37,3078,0,senior/associate scientist,0,0,0,0,1,NA
953,Data Science Manager,95000-160000,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC","Allentown, PA","Chadds Ford, PA",1 to 50,-1,Company - Private,...,-1,1642,0,manager,0,0,0,0,1,$5M-$10M
955,Research Scientist – Security and Privacy,61000-126000,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",501 to 1000,1967,Nonprofit Organization,...,54,3673,0,senior/associate scientist,1,0,0,0,0,$50M-$100M

In [145]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'
df['seniority'] = df['Job Title'].apply(seniority)
df.seniority.value_counts()

<ipython-input-145-1c59b5bcccbf>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['seniority'] = df['Job Title'].apply(seniority)

na        520
senior    220
jr          2
Name: seniority, dtype: int64

In [146]:
df.to_csv('D:\Project\ds_salary_prediction\Dataset\salary_data_cleaned.csv',index = False)
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,desc_len,count_Competitors,Job Simple,python_yn,R_yn,spark,aws,excel,revenue_simpler,seniority
0,Data Scientist,53000-91000,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000,1973,Company - Private,...,2536,0,data scientist,1,0,0,0,1,$50M-$100M,na
1,Healthcare Data Scientist,63000-112000,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,...,4783,0,data scientist,1,0,0,0,0,$2B-$5B,na
2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000,2010,Company - Private,...,3461,0,data scientist,1,0,1,0,1,$100M-$500M,na
3,Data Scientist,56000-97000,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000,1965,Government,...,3883,3,data scientist,1,0,0,0,0,$500M-$1B,na
4,Data Scientist,86000-143000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200,1998,Company - Private,...,2728,3,data scientist,1,0,0,0,1,NA,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",58000-111000,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",10000+,1830,Company - Public,...,6162,3,senior/associate scientist,0,0,0,1,0,$10+B,senior
951,Senior Data Engineer,72000-133000,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite,"Nashville, TN","San Francisco, CA",1001 to 5000,2006,Company - Public,...,6130,3,data engineer,1,0,1,1,0,$100M-$500M,senior
952,"Project Scientist - Auton Lab, Robotics Institute",56000-91000,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000,1984,College / University,...,3078,0,senior/associate scientist,0,0,0,0,1,NA,na
953,Data Science Manager,95000-160000,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC","Allentown, PA","Chadds Ford, PA",1 to 50,-1,Company - Private,...,1642,0,manager,0,0,0,0,1,$5M-$10M,na
955,Research Scientist – Security and Privacy,61000-126000,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",501 to 1000,1967,Nonprofit Organization,...,3673,0,senior/associate scientist,1,0,0,0,0,$50M-$100M,na